#name{
	font-size: 6vw;
	color: #410b68;
}

#location{
	padding-bottom: 5vh;
	font-size: 2vw;
}
#description, #photos{
	font-size: 2vw;
}

#padding{
	font-family: "Times New Roman", Georgia, Serif;
	padding-left: 10px;
}