#padding{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 24pt;
	padding-left: 10px;
	margin-top: 30px;
}

input{
	margin: 10px;
}

#submit, #register{
	margin-left: 10%;
}

#Error, #RegError{
	color: red;
	font-size: 12pt;
}

#required{
	font-size: 12pt;
}